html, body {
  margin: 0;
  height: 100%;
}

#root, .App {
  height: 100%;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

.ranking-table th, .ranking-table tr, .ranking-table td {
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

.point-denominator {
  font-size: 0.7em;
}

.user-points {
  font-weight: bold;
  color: black;
}

.current-row td {
  background-color: #ced4da;
}

.failed-score {
  opacity: 0.9;
  border-radius: 10px;
  font-weight: bold;
  background-color: red !important;
}

.partial-score {
  opacity: 0.9;
  border-radius: 10px;
  background-color: green !important;
}

.full-score {
  opacity: 0.9;
  border-radius: 10px;
  font-weight: bold;
  background-color: #4E9A05 !important;
}

.pending-score {
  opacity: 0.9;
  border-radius: 10px;
  font-weight: bold;
  background-color: #fd7e14 !important;
}
